.login {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin: 12px;

  .login-button {
    color: green;

    &:hover {
      cursor: pointer;
      transform: scale(1.2);
    }
  }
}

.loggedin {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin: 12px;

  .button-container {
    display: flex;
    flex-direction: row;

    .confirm-button {
      color: green;

      margin: 4px;

      &:hover {
        cursor: pointer;
        transform: scale(1.2);
      }
    }

    .logout-button {
      color: red;

      margin: 4px;

      &:hover {
        cursor: pointer;
        transform: scale(1.2);
      }
    }
  }

}