#home {
  display: flex;
  flex-direction: column;

  .oswald {
    font-size: 24px;
    font-weight: bold;
  }

  #events-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    .event {
      display: flex;
      flex-direction: column;
      align-items: center;

      height: 120px;
      width: 100px;

      margin: 8px;

      .event-icon {
        height: auto;
        width: 100%;
      }

      &:hover {
        cursor: pointer;
        transform: scale(1.2);
      }
    }
  }
}