.broadcast {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin: 12px;

  .broadcast-send {
    color: green;

    &:hover {
      cursor: pointer;
      transform: scale(1.2);
    }
  }
}