html {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.oswald {
  // Primarily for titles
  font-family: 'Oswald', sans-serif;
}

.roboto {
  // Primarily for texts
  font-family: 'Roboto', sans-serif;
}

.page {
  width: 100%;
  height: calc(100vh - 40px - 24px);

  display: flex;
  justify-content: center;

  background-color: #EFF0F1;

  .page-container {
    width: 80%;
  }
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: rgba(0, 0, 0, 0.5);

  z-index: 100;

  .modal-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 370px;
    max-width: 100%;
    border-radius: 8px;

    background-color: white;

    z-index: 101;

    .modal-title {
      display: flex;
      align-items: center;
      justify-content: center;

      font-size: 24px;

      border-radius: 8px 8px 0 0;

      height: 36px;
      width: 100%;

      background-color: #222233;
      color: white;
    }

    .modal-close {
      display: flex;
      align-items: center;
      justify-content: center;

      border-radius: 0 0 8px 8px;

      height: 28px;
      width: 100%;

      background-color: firebrick;
      color: white;

      &:hover {
        cursor: pointer;
        background-color: red;
      }
    }
  }
}